.main-navigation {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {

		margin:15px;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: #000;
		font: normal normal 700 20px/23px Quicksand;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		align-items: center;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.head-flex {
	display: flex;
}

.menu-main-navigation-container {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.contact-button {
	background: #F7941E;
	padding: 7px 25px 7px 25px;
	border-radius: 20px;

	a{
		color: #fff;
	}
}

.site-header {
	border-bottom: 1px solid #eee;
}

.menu-toggle {
	background: #FFF;
	padding: 7px 25px 7px 25px;
	border-radius: 20px;
	color: #000;
	font: normal normal 700 20px/23px Quicksand;
	letter-spacing: 0px;
	border: 1px #000 solid;
	margin:5px;
}
